{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/form.js"></script>
{% endblock %}

{% block content %}
    <form method='POST' action="{{ url_for('auth.register')}}">
        {% for field in form %}
            {% if field.type not in ['UnboundField'] %}
                {% if field.widget.input_type != 'hidden' and field.type not in ['SubmitField'] %}
                {{ field.label }}
                {% endif %}
            {{ field }} <br>
            {% endif %}
        {% endfor %}
    </form>

    
        
        
        
{% endblock %}