{% extends 'base.html' %}

{% block title %}Teleconsultation{% endblock %}
{% block head %}
<style>
    body { margin: 0; }
    #jitsi-container { height: 20em; }
</style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <!-- Video Consultation Section -->
        <div class="row mb-3">
            <div class="col">
                <div id="jitsi-container" class="container mt-4"></div>
                <div style="display: flex;justify-content: center;">
                    <button id="fullscreen-toggle" class="btn btn-secondary">Toggle Fullscreen</button>
                    <!-- Include Consultation UI for Clinician -->
                    {% if session['current_role'] == 'clinician' %}
                    {% include 'consultation_controls.html' %}
                    {% endif %}
                </div>
            </div>
        </div>

        <script src='{{ VIDEO_HOST_URL }}video/external_api.js'></script>


        {% if session['current_role'] == 'clinician' %}
        {% include 'consultation_clinician.html' %}
        {% endif %}
    </div>

    

<!-- Confirmation Modal -->
{% include 'consultation_confirmation_modal.html' %}


<script>
    let countdown = false;
    let countdownInterval;
    let exit_initiatedByJitsi = false;
    let lastJitsiEventTime = 0; // Timestamp of the last Jitsi event
    const DEBOUNCE_DELAY = 10000;

    function resetCooldown() {
        if (exit_initiatedByJitsi && countdown) {
                location.reload();
        }
        countdown = false;
        countdownInterval = 3;
        exit_initiatedByJitsi = false;
    }

    function startCooldown(reason, initiatedByJitsi = false) {
        exit_initiatedByJitsi = initiatedByJitsi;
        countdown = true;
        let timeLeft = 3;
        $('#cooldown-timer').text(`Redirecting in ${timeLeft} seconds...`);
        $('#confirmationModal').modal('show');

        let countdownProcess = setInterval(function() {
            timeLeft--;
            $('#cooldown-timer').text(`Redirecting in ${timeLeft} seconds...`);
            if (timeLeft <= 0) {
                clearInterval(countdownProcess);
                handleCooldownCompletion();
            }
        }, 1000);
    }

    function handleCooldownCompletion() {
        if (countdown && exit_initiatedByJitsi) {
            window.location.href='{{ lobby_url }}';
        } else if (countdown) {
            completeConsultation();
        } else {
            resetCooldown();
        }
    }

    function completeConsultation() {
        {% if session['current_role'] == 'clinician' %}
        fetch("{{ url_for('consult.conclude_appointment', appointment_id=conference.appointment_id) }}", {
            method: 'POST',
            body: JSON.stringify({ conclusion: 1 }),
            headers: { 'Content-Type': 'application/json' },
            credentials: 'same-origin'
        });
        {% endif %}
        window.location.href='{{ lobby_url }}';
    }

    document.addEventListener('DOMContentLoaded', function() {
        
        const options = {
            roomName: '{{ conference.url }}',  // Conference room name
            width: '100%',
            height: '100%',
            jwt: '{{ jwt }}',
            parentNode: document.querySelector('#jitsi-container'),
            configOverwrite: { 
                startWithAudioMuted: false,
                prejoinPageEnabled: false,
                disableDeepLinking: true
            },
            interfaceConfigOverwrite: { filmStripOnly: false }
        };
        const api = new JitsiMeetExternalAPI('{{ VIDEO_HOST_DOMAIN }}' , options);

    
        api.addListener('videoConferenceLeft', function() {
            const now = Date.now();
            console.log('xxConference left');
           
            if (now-lastJitsiEventTime > DEBOUNCE_DELAY) {
                lastJitsiEventTime = now;
                resetCooldown();
                startCooldown('Video conference ended', true);
                
            }            
        });

        // Fullscreen toggle
        $('#fullscreen-toggle').on('click', function() {
            const iframe = document.getElementById('jitsi-container');
            if (document.fullscreenElement) {
                document.exitFullscreen();
            } else {
                iframe.requestFullscreen().catch(err => console.log(err));
            }
        });

        {% if session['current_role'] == 'clinician' %}
        // Handle consultation completion
        $('#complete-consult').on('click', function() {
            if (!$('#sign-toggle').prop('checked')) {
                alert("Please sign the prescription before completing the consultation.");
            } else {
                $('#confirmationModal').modal('show');
                startCooldown('Consultation completed', false);
            }
        });

        // Handle Consultation Cancellation
        $('#cancel-consult').on('click', function() {
            fetch("{{ url_for('consult.conclude_appointment', appointment_id=conference.appointment_id) }}", {
                method: 'POST',
                body: JSON.stringify({ conclusion: 2 }),
                headers: { 'Content-Type': 'application/json' },
                credentials: 'same-origin'
            }).then(() => {
                window.location.href='{{ lobby_url }}';
            });
        });
        {% endif %}

        $('#confirm-exit').on('click', function() {
            // Continue the countdown and execute the redirect
            countdownInterval = 0;
            $('#confirmationModal').modal('hide');
        });

        $('#cancel-exit').on('click', function() {
            // Cancel the countdown and reset variables
            $('#confirmationModal').modal('hide');
            resetCooldown();
        });

        $('#confirmationModal').on('hidden.bs.modal', function() {
            if (exit_initiatedByJitsi && countdown) {
                location.reload();
            }
        });
    });
</script>
{% endblock %}