{% extends 'base.html' %}

{% block title %}Teleconsultation{% endblock %}
{% block head %}
<style>
    body { margin: 0; }
    #jitsi-container { height: 20em; }

    /* Preview Modal Styles */
    .preview-modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.5);
    }

    .preview-modal-content {
        background-color: #fefefe;
        margin: 1em auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: 100%;
    }

    .preview-close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .preview-close:hover,
    .preview-close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .button-over-modal {
        position: fixed;
        top: 90%; /* Adjust the distance from the top as needed */
        right: 20px; /* Adjust the distance from the right as needed */
        z-index: 1100; /* Ensure it's above the modal (which has a z-index of 1000) */
        width: 5em;
    }

    .important-content p{
        text-align: center;
        border: #bbb 1px solid;
    }
</style>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <!-- Video Consultation Section -->
        <div class="row mb-3">
            <div class="col-md-{% if session['current_role'] == 'clinician' %}8{% else %}12{% endif %} justify-content-center">
                <div id="jitsi-container" class="container mt-4"></div>
                {% if session['current_role'] != 'clinician' %}
                    <button id="fullscreen-toggle" class="btn btn-secondary">Toggle Fullscreen</button>
                {% endif %}
            </div>
        

            <!-- Right-side Column -->
            {% if session['current_role'] == 'clinician' %}
            <div class="col-md-4">
                <!-- Place your content here -->
                <div class="important-content">
                    <p style="color:red">Allergies</p>
                    <p>Ongoing Problems</p>
                    <p>Ongoing Medication</p>
                </div>
                
                <div style="display: flex;justify-content: center;">
                    <!-- Include Consultation UI for Clinician -->
                    <button id="fullscreen-toggle" class="btn btn-secondary">Toggle Fullscreen</button>
                    {% include 'consultation_controls.html' %}
                </div>
               
            </div>
            {% endif %}
            <script src='{{ VIDEO_HOST_URL }}video/external_api.js'></script>
        
        </div>
        
    

        {% if session['current_role'] == 'clinician' %}
        {% include 'consultation_clinician.html' %}
        {% endif %}
    </div>

    

<!-- Confirmation Modal -->
{% include 'consultation_confirmation_modal.html' %}

<!-- The Plan Preview Modal -->
<div id="previewModal" class="modal preview-modal">
    <div class="modal-content preview-modal-content">
        <span id="previewClose" class="preview-close">&times;</span>
        <iframe id="previewIframe" class="preview-iframe" style="width:100%; height:100%; border:none;"></iframe>
    </div>
</div>

{% if session['current_role'] in ['clinician', 'client'] %}
<script src="{{ url_for('emr_fe.emrjs') }}?id={{ appointment.id }}"></script>
{% endif %}

{% if session['current_role'] in ['client'] %}
<script>
    // Function to check appointment status
    function checkAppointmentStatus() {
        // Replace 'id' with the actual appointment ID
        const appointmentId = 'id';  // You need to replace 'id' with the actual appointment ID

        // Make the request to the endpoint
        fetch(`/appointment/{{appointment.id}}/status`)
            .then(response => response.json())
            .then(data => {
                // Check if status is not 'ongoing'
                if (data.appointment_status != 'ongoing') {
                    // Redirect to /lobby
                    window.location.href = '/lobby';
                }
            })
            .catch(error => {
                console.error('Error fetching appointment status:', error);
            });
    }

    // Set the interval for checking status (e.g., every 5 seconds)
    const checkInterval = 5000; // 5000 milliseconds = 5 seconds
    setInterval(checkAppointmentStatus, checkInterval);
</script>
{% endif %}

{% endblock %}