/* Ensure fields are responsive */
input[type="text"], input[type="password"], textarea {
    box-sizing: border-box; /* Include padding and border in width */
    width: 100%; /* Full width of the container */
    max-width: 100%; /* Prevent fields from exceeding container width */
}

/* Specific handling for input fields */
input[maxlength] {
    width: auto; /* Allow dynamic width adjustment */
}

/* Adjust textarea rows for multiline fields */
textarea {
    width: 95%; /* Full width of the container */
    max-width: 95%; /* Prevent exceeding container width */
}

input[required], 
textarea[required], 
select[required] {
    border-color: #c00;
    border-width: 1px;
}
    
input:required:invalid {
    border-color: #c00000;
}

.date-time-strip {
    color: #d0cece;
    padding-left: 1em;
    text-align: right;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    z-index: 1000;
    line-height: 1em;
}

.last-seen {
    color: #444;
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}